

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
    position: absolute;
    width: 100%;
    z-index: 100;
}
header .logo {
    width: 5rem;
}
.scse{
    color: white;
   text-align: center;
   
}
header nav {
    display: flex;
    gap: 10px;
}
header nav a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 99px;
    transition: 0.5s;
    color: rgb(255, 255, 255);
}
header nav a.active {
    background: #0e54bc;
}
header nav a:hover {
    background: #0e54bc;
}
header nav:hover > a:not(:hover) {
    background: none;
}
.background img{
    width: 90rem;
    height: 50rem;
    filter: brightness(120%);
}

.footer_container {
    min-height: 380px;
    min-width: 100vw;
    font-family: 'Montserrat', sans-serif !important;
    color: aliceblue;
    padding: 30px 30px;
    background-color: #1d1d1d;
}

.footer_first_part {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
}

.footer_middle_part {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;
}

.footer_container ul {
    list-style: none;
    padding-top: 15px;
}

.footer_container a {
    text-decoration: none;
    color: aliceblue;
    transition: color 0.3s, text-shadow 0.2s;
    font-size: 16px;
}

.footer_container a:hover {
    text-shadow: 2px 2px 4px #00FFFF !important;
    text-decoration: underline;
    color: aliceblue;
}

.footer_icons a {
    transition: color 0.2s !important;
    font-size: 28px !important;
}

.footer_icons ion-icon[name="logo-instagram"]:hover {
    color: rgb(188, 42, 141);
}

.footer_icons ion-icon[name="logo-linkedin"]:hover {
    color: rgb(0, 119, 181);
}

.footer_icons ion-icon[name="logo-github"]:hover {
    color: #171515;
}

.footer_icons ion-icon[name="logo-facebook"]:hover {
    color: #4267B2;
}

.footer_container li {
    padding-top: 0 !important;
}

.footer_links {
    padding-left: 270px;
}

.footer_phone_number {
    padding-left: 270px;
}

.footer_icons {
    padding-left: 233px;
}

.footer_icons h2 {
    margin-bottom: 20px;
    padding-left: 7px;
}

.footer_icons span {
    font-size: 30px !important;
    padding: 0 7px;
}

.footer_email {
    padding-left: 240px;
}

.footer_ending_line {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 15px;
    text-align: auto;
    font-size: 18px;
}

hr {
    border: none;
    border-top: 1px solid silver;
    margin: 10px 0;
}

.footer_name h1 {
    font-size: 45px !important;
    padding-top: 40px;
    font-weight: 500;
}

.footer_name span {
    font-size: 20px !important;
}

.footer_container h2 {
    font-weight: bold !important;
    font-size: 23px;
}


@media (min-width: 1164px) {
    .footer_container {
        max-width: 1200px;
        margin: 0 auto;
    }
}

@media (max-width: 1164px) {

    .footer_first_part,
    .footer_middle_part {
        grid-template-columns: 1fr;
    }

    .footer_links,
    .footer_phone_number,
    .footer_icons,
    .footer_email,
    .footer_name,
    .footer_address,
    .footer_ending_line {
        padding-left: 0;
        text-align: center;
    }

    .footer_icons h2 {
        padding-left: 0;
    }

    .footer_links,
    .footer_phone_number,
    .footer_icons,
    .footer_email {
        padding-top: 20px;
    }
}

@media(min-width: 1200px) and (max-width: 1405px) {
    .footer_container h2 {
        font-size: 21px;
    }
}

@media(min-width: 300px) and (max-width: 450px) {
    .footer_ending_line {
        font-size: 12px;
    }

    .footer_container li {
        padding-top: 12px !important;
    }
}